.DS_Store

# Compiled site
_site
.jekyll-cache/

# Sass garbage
.sass-cache

# Bundler
.bundle/
vendor/
documents/cv/main.log 
documents/cv/main.aux 
documents/cv/main.synctex.gz 
documents/cv/main.fdb_latexmk
documents/cv/main.fls
